@import "tailwindcss";

@theme {
  --color-background: hsl(222 47% 11%);
  --color-foreground: 180 100% 90%;
  --color-primary: hsl(180 100% 50%);
  --color-card: hsl(222 47% 15%);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
